USE [master]
GO
/****** Object:  Database [RBDB]    Script Date: 2/14/2022 3:10:39 PM ******/
CREATE DATABASE [RBDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RBDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RBDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RBDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RBDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RBDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RBDB]
GO
/****** Object:  Table [dbo].[Cancellation_List]    Script Date: 2/14/2022 3:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancellation_List](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Patient_Name] [varchar](50) NOT NULL,
	[Phone_Number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Appt_Date] [varchar](50) NOT NULL,
	[New_Date] [varchar](50) NOT NULL,
	[Initials] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLSFU]    Script Date: 2/14/2022 3:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLSFU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Appt_Date] [varchar](50) NOT NULL,
	[Patient_Name] [varchar](255) NOT NULL,
	[Phone_Number] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[CLS_Try] [varchar](255) NOT NULL,
	[FU_Date] [varchar](255) NOT NULL,
	[Initials] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEC_MSG]    Script Date: 2/14/2022 3:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEC_MSG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MSGFor] [varchar](255) NOT NULL,
	[Caller_Name] [varchar](255) NOT NULL,
	[DateTime] [varchar](255) NOT NULL,
	[Caller_Number] [varchar](255) NOT NULL,
	[Message] [varchar](1000) NOT NULL,
	[Action] [varchar](255) NOT NULL,
	[Initials] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt_Request]    Script Date: 2/14/2022 3:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_Request](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Patient_Name] [varchar](50) NOT NULL,
	[Phone_Number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Service_Provider] [varchar](50) NOT NULL,
	[Receiving_Via] [varchar](50) NOT NULL,
	[Date_Done] [varchar](50) NOT NULL,
	[Initials] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referral]    Script Date: 2/14/2022 3:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referral](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](255) NOT NULL,
	[Patient_Name] [varchar](255) NOT NULL,
	[Phone_Number] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[RFR] [varchar](255) NOT NULL,
	[RefDate] [varchar](255) NOT NULL,
	[Initials] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reorder_Contacts]    Script Date: 2/14/2022 3:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reorder_Contacts](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](255) NULL,
	[Patient_Name] [varchar](255) NULL,
	[Phone_Number] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[OrderDescription] [varchar](255) NULL,
	[OD] [varchar](255) NULL,
	[OS] [varchar](255) NULL,
	[CCNumber] [varchar](255) NULL,
	[Expiration] [varchar](255) NULL,
	[CVC] [varchar](255) NULL,
	[HomeOffice] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
	[Initials] [varchar](255) NULL,
	[OrderFrom] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rx_Request]    Script Date: 2/14/2022 3:10:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rx_Request](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Patient_Name] [varchar](50) NOT NULL,
	[Phone_Number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Rx] [varchar](50) NOT NULL,
	[Receiving_Via] [varchar](50) NOT NULL,
	[Date_Done] [varchar](50) NOT NULL,
	[Initials] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [cancellationList_dateNameDone]    Script Date: 2/14/2022 3:10:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [cancellationList_dateNameDone] ON [dbo].[Cancellation_List]
(
	[Patient_Name] ASC,
	[Initials] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [all]    Script Date: 2/14/2022 3:10:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [all] ON [dbo].[Reorder_Contacts]
(
	[OrderID] ASC,
	[Date] ASC,
	[Patient_Name] ASC,
	[Phone_Number] ASC,
	[Email] ASC,
	[OrderDescription] ASC,
	[OD] ASC,
	[OS] ASC,
	[CCNumber] ASC,
	[Expiration] ASC,
	[CVC] ASC,
	[HomeOffice] ASC,
	[Status] ASC,
	[Initials] ASC,
	[OrderFrom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
