USE [master]
GO
/****** Object:  Database [RBDB]    Script Date: 2/21/2022 8:43:24 PM ******/
CREATE DATABASE [RBDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RBDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RBDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RBDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\RBDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RBDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RBDB]
GO
/****** Object:  Table [dbo].[Cancellation_List]    Script Date: 2/21/2022 8:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancellation_List](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Patient_Name] [varchar](50) NOT NULL,
	[Phone_Number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Appt_Date] [varchar](50) NOT NULL,
	[New_Date] [varchar](50) NOT NULL,
	[Initials] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLSFU]    Script Date: 2/21/2022 8:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLSFU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Appt_Date] [varchar](50) NOT NULL,
	[Patient_Name] [varchar](255) NOT NULL,
	[Phone_Number] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[CLS_Try] [varchar](255) NOT NULL,
	[FU_Date] [varchar](255) NOT NULL,
	[Initials] [varchar](50) NOT NULL,
 CONSTRAINT [PK__CLSFU__3214EC278991C970] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEC_MSG]    Script Date: 2/21/2022 8:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEC_MSG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MSGFor] [varchar](255) NOT NULL,
	[Caller_Name] [varchar](255) NOT NULL,
	[DateTime] [varchar](255) NOT NULL,
	[Caller_Number] [varchar](255) NOT NULL,
	[Message] [varchar](1000) NOT NULL,
	[Action] [varchar](255) NOT NULL,
	[Initials] [varchar](255) NOT NULL,
	[Status] [varchar](255) NOT NULL,
 CONSTRAINT [PK__cc__3214EC2703B53761] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt_Request]    Script Date: 2/21/2022 8:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_Request](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Patient_Name] [varchar](50) NOT NULL,
	[Phone_Number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Service_Provider] [varchar](50) NOT NULL,
	[Receiving_Via] [varchar](50) NOT NULL,
	[Date_Done] [varchar](50) NOT NULL,
	[Initials] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Receipt___3214EC2706E80545] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Referral]    Script Date: 2/21/2022 8:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Referral](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](255) NOT NULL,
	[Patient_Name] [varchar](255) NOT NULL,
	[Phone_Number] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[RFR] [varchar](255) NOT NULL,
	[RefDate] [varchar](255) NOT NULL,
	[Initials] [varchar](255) NOT NULL,
 CONSTRAINT [PK__Referral__3214EC273055DA8A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reorder_Contacts]    Script Date: 2/21/2022 8:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reorder_Contacts](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](255) NULL,
	[Patient_Name] [varchar](255) NULL,
	[Phone_Number] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[OrderDescription] [varchar](255) NULL,
	[OD] [varchar](255) NULL,
	[OS] [varchar](255) NULL,
	[CCNumber] [varchar](255) NULL,
	[Expiration] [varchar](255) NULL,
	[CVC] [varchar](255) NULL,
	[HomeOffice] [varchar](255) NULL,
	[Status] [varchar](255) NULL,
	[Initials] [varchar](255) NULL,
	[IsOrdered] [varchar](255) NULL,
	[IsInsBilled] [varchar](255) NULL,
	[InsAmount] [varchar](255) NULL,
	[Charged] [varchar](255) NULL,
	[ChargeAmt] [varchar](255) NULL,
	[Rebate] [varchar](255) NULL,
 CONSTRAINT [PK__Reorder___C3905BAF3FF46583] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rx_Request]    Script Date: 2/21/2022 8:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rx_Request](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [varchar](50) NOT NULL,
	[Patient_Name] [varchar](50) NOT NULL,
	[Phone_Number] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Rx] [varchar](50) NOT NULL,
	[Receiving_Via] [varchar](50) NOT NULL,
	[Date_Done] [varchar](50) NOT NULL,
	[Initials] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Rx_Reque__3214EC27B7A9D617] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sysdiagrams]    Script Date: 2/21/2022 8:43:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sysdiagrams](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL,
 CONSTRAINT [PK__sysdiagr__C2B05B61E78DE051] PRIMARY KEY CLUSTERED 
(
	[diagram_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_principal_name] UNIQUE NONCLUSTERED 
(
	[principal_id] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [all]    Script Date: 2/21/2022 8:43:24 PM ******/
CREATE NONCLUSTERED INDEX [all] ON [dbo].[Cancellation_List]
(
	[ID] ASC,
	[Date] ASC,
	[Patient_Name] ASC,
	[Phone_Number] ASC,
	[Email] ASC,
	[Appt_Date] ASC,
	[New_Date] ASC,
	[Initials] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [all]    Script Date: 2/21/2022 8:43:24 PM ******/
CREATE NONCLUSTERED INDEX [all] ON [dbo].[CLSFU]
(
	[ID] ASC,
	[Appt_Date] ASC,
	[Patient_Name] ASC,
	[Phone_Number] ASC,
	[Email] ASC,
	[CLS_Try] ASC,
	[FU_Date] ASC,
	[Initials] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [all]    Script Date: 2/21/2022 8:43:24 PM ******/
CREATE NONCLUSTERED INDEX [all] ON [dbo].[NEC_MSG]
(
	[ID] ASC,
	[MSGFor] ASC,
	[Caller_Name] ASC,
	[DateTime] ASC,
	[Caller_Number] ASC,
	[Message] ASC,
	[Action] ASC,
	[Initials] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [all]    Script Date: 2/21/2022 8:43:24 PM ******/
CREATE NONCLUSTERED INDEX [all] ON [dbo].[Receipt_Request]
(
	[ID] ASC,
	[Date] ASC,
	[Patient_Name] ASC,
	[Phone_Number] ASC,
	[Email] ASC,
	[Service_Provider] ASC,
	[Receiving_Via] ASC,
	[Date_Done] ASC,
	[Initials] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [all]    Script Date: 2/21/2022 8:43:24 PM ******/
CREATE NONCLUSTERED INDEX [all] ON [dbo].[Referral]
(
	[ID] ASC,
	[Date] ASC,
	[Patient_Name] ASC,
	[Phone_Number] ASC,
	[Email] ASC,
	[RFR] ASC,
	[RefDate] ASC,
	[Initials] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [all]    Script Date: 2/21/2022 8:43:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [all] ON [dbo].[Reorder_Contacts]
(
	[OrderID] ASC,
	[Date] ASC,
	[Patient_Name] ASC,
	[Phone_Number] ASC,
	[Email] ASC,
	[OrderDescription] ASC,
	[OD] ASC,
	[OS] ASC,
	[CCNumber] ASC,
	[Expiration] ASC,
	[CVC] ASC,
	[HomeOffice] ASC,
	[Status] ASC,
	[Initials] ASC,
	[IsOrdered] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [all]    Script Date: 2/21/2022 8:43:24 PM ******/
CREATE NONCLUSTERED INDEX [all] ON [dbo].[Rx_Request]
(
	[ID] ASC,
	[Date] ASC,
	[Patient_Name] ASC,
	[Phone_Number] ASC,
	[Email] ASC,
	[Rx] ASC,
	[Receiving_Via] ASC,
	[Date_Done] ASC,
	[Initials] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
