<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="mycon" connectionString="Data Source=om-server\omsql; database=RBDB; Initial Catalog=RBDB; User ID=RBDBrole; Password=cherryApricot46;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
	  <membership>
		  <providers>
			  <clear/>
			  <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="mycon" applicationName="SampleApplication" requiresQuestionAndAnswer="false" />
		  </providers>
	  </membership>
	  <profile>
		  <providers>
			  <clear/>
			  <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="mycon" applicationName="SampleApplication"/>
		  </providers>
	  </profile>
	  <roleManager enabled="false">
		  <providers>
			  <clear/>
			  <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="mycon" applicationName="SampleApplication"/>
		  </providers>
	  </roleManager>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="pola@drtomasino.com">
        <network
            host="smtp.gmail.com"
            port="587"
            enableSsl="true"
            userName="pola@drtomasino.com"
            password="cherryApricot46"
            defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>